<h1>My Pets</h1>
<% @pets.each do |pet| %>
  <h2><%= pet.name %></h2>
  <a href="/pets/<%= pet.id %>">More info</a>
<% end %>
<br>
<br>
<a href="/pets/new">Add pet</a>
<br>
<br>
<a href="/signup">Create an account</a>
<br>
<br>
<a href="/login">Log in</a>
| |
<a href="/logout">Log out</a>