<h1>Pet info</h1>
<h2><%= @pet.name %></h2>
<p>Breed: <%= @pet.breed %></p>
<img src="<%= @pet.image %>" width="500" height="400">
<br>
<a href="/pets/<%= @pet.id %>/edit">Edit pet</a>
<br>
<a href="/pets">Back to all pets</a>